<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ItemChecker.Properties.SettingsProperties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ItemChecker.Properties.RareProperties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ItemChecker.Properties.HomeProperties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ItemChecker.Properties.MainProperties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ItemChecker.Properties.SettingsProperties>
            <setting name="UseLocalDb" serializeAs="String">
                <value>False</value>
            </setting>
        </ItemChecker.Properties.SettingsProperties>
        <ItemChecker.Properties.RareProperties>
            <setting name="Time" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="maxFloatValue_FN" serializeAs="String">
                <value>0.001</value>
            </setting>
            <setting name="maxFloatValue_MW" serializeAs="String">
                <value>0.080</value>
            </setting>
            <setting name="maxFloatValue_FT" serializeAs="String">
                <value>0.175</value>
            </setting>
            <setting name="maxFloatValue_WW" serializeAs="String">
                <value>0.400</value>
            </setting>
            <setting name="maxFloatValue_BS" serializeAs="String">
                <value>0.500</value>
            </setting>
        </ItemChecker.Properties.RareProperties>
        <ItemChecker.Properties.HomeProperties>
            <setting name="Time" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MinPrecent" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ServiceId" serializeAs="String">
                <value>0</value>
            </setting>
        </ItemChecker.Properties.HomeProperties>
        <ItemChecker.Properties.MainProperties>
            <setting name="CompletionUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SteamCurrencyId" serializeAs="String">
                <value>0</value>
            </setting>
        </ItemChecker.Properties.MainProperties>
    </userSettings>
</configuration>